:root {
	--c-0: #6E0300;
	--c-1: #B83835;
	--c-2: #4b3d3b;
	--c-3: #480200;
	--c-4: #250100;
	--c-fg: #ffece9;
	--c-acc: #e76065;
}

body {
	font-family: 'Istok Web', sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 50rem;
	text-align: left;
	background-color: var(--c-2);
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: var(--c-fg);
}

a {
	color: var(--c-fg);
}

nav a {
	margin-right: 10px;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

content {
	line-height: 1.6;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

code {
	padding: 2px 5px;
	background-color: var(--c-acc);
}

pre {
	padding: 1rem;
}

pre>code {
	all: unset;
	tab-size: 4;
}

blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}