---
import type { HTMLAttributes } from "astro/types";
import HeaderLinkIcon from "./HeaderLink/HeaderLink";

type Props = HTMLAttributes<"a"> & { external?: boolean };

const { href, class: className, external = false, ...props } = Astro.props;

const { pathname } = Astro.url;

const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
	{external && <HeaderLinkIcon />}
</a>

<style>
	a {
		display: inline-block;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
</style>
